<div class="panel panel-primary">
  <div class="panel-heading">
    <!--<h2>Lista de pessoas</h2>-->
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Nome</th>
        <th>Sexo</th>
        <th>CPF</th>
        <th>Naturalidade</th>
        <th>Nacionalidade</th>
        <th>Data Nascimento</th>
        <th>Email</th>
        <th>Editar</th>
        <th>Excluir</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let pessoa of pessoas | async">

        <td>{{pessoa.nome}}</td>
        <td>{{pessoa.sexo}}</td>
        <td>{{pessoa.cpf}}</td>
        <td>{{pessoa.naturalidade}}</td>
        <td>{{pessoa.nacionalidade}}</td>
        <td>{{pessoa.dataNascimento}}</td>
        <td>{{pessoa.email}}</td>
        <td><button (click)="updatePessoa(pessoa.id)" class="btn btn-success">Editar</button></td>
        <td><button (click)="deletePessoa(pessoa.id)" class="btn btn-danger">Excluir</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

